.statsLabel {
    -fx-font-size: 26;
    -fx-font-family: 'Bauhaus Std';
    -fx-font-family: 'Comic Sans MS';
}

.healthPercentage {
    -fx-font-size: 16;
    -fx-font-family: 'Bauhaus Std';
    -fx-font-family: 'Bauhaus 93';
    -fx-text-fill: #999999;
}